.not-found[data-v-fdb9d639]{text-align:center;padding:120px 20px}.not-found h1[data-v-fdb9d639]{font-size:72px;color:var(--primary);margin-bottom:16px}.not-found p[data-v-fdb9d639]{font-size:24px;color:var(--text-gray);margin-bottom:32px}
